@charset "UTF-8";
*{
    margin: 0;
    padding: 0;
}
.header-rec{
    margin-bottom: 20px;
    padding: 0px;
}
.header-vs{
    margin-top: 50px;
    margin-bottom: 20px;
    padding: 0px;
}
.logo{
    height: 143px;
    width: auto;
}
.head-cont{
    display: flex;
    /*justify-content: space-around;*/
    margin: 0;
}
.a-head{
    margin: 0;
}
.a-head:hover{
    color: #b3b3b3;
}
.head-guay{
    padding: 0px;
}
.head-text{
    margin-left: 100px;
}
.gif{
    height: 100px;
    width: auto;
}
.inst{
    margin: 13px;
    height: 50px;
    width: auto;
}
#grande{
    margin-bottom: 5%;
    min-height:calc(100vh - 15rem - 400px);
	margin-left: 5%;
    margin-right: 5%;
    margin-top: 0;
	
}
.redes-sociales{
    display: flex;
    justify-content: center;
    align-items: center;
}
.container {
    width: 970px;
}
.table{
    margin: 0 auto;
	width: 50%;
}
.table>thead>tr>th{
    text-align: center;
}
.table>tbody>tr>td{
    text-align: center;
}
.table>tbody>tr>td>a>img{
	max-width: 250px;
	height: 150px;
}
.notas{
	margin-top: 5%;
	text-align: right;
}
/*.thumbnail>img{
    width: 100%;
    height: 250px;
}*/
.thumbnail {
    padding: 0;
}
a{
	color: #660099;
    cursor: pointer;
}
a:hover{
    color:black;
}
body{
	background-color: #f7e6ff;
}
header{
	color: #e6b3ff;
	background-color: #33004d;
}
header a{
	color: #e6b3ff;
}
.carousel-caption{
	background-color:rgb(238, 204, 255, 0.5);
	border-radius: 5%;
}
.divFotoCar{
    margin: 0 auto;
    float: none;
}
.btnInfo {
    color: #33004d;
    width: 100%;
}
.btn-group-vertical{
    width: 100%;
}
.title{
    text-align: center;
}
#pass, #userN{
	width: 50%;
}
.group-login{
	margin: 15px;
}
#btn-login{
	width: 9%;
}
.btn-form{
    position: relative;
    float: right;
    width: 20%;
}
.div-btn-form{
   position: absolute;
}
/*#grande{
    display: flex;
    justify-content: space-around;
}*/
#nav-forms{
    width: 13%;
    margin-right: 2.5%;
}
